@import
	url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body {
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #fff, #ff00ff);
  align-items: center;
  justify-content: center;
	margin-right: 10%;
	margin-left: 10%;
}

.menu {
  padding: 5%;
  width: 25%;
  float: left;
}

#section1 {
  box-sizing: border-box;
  width: 75%;
  padding-top: 0%; 
  font-family: "Poppins", sans-serif;
}
  
#section1 {  
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	width: 75%;
	color: black;
	padding: 5%;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.content {
	position: relative;
}


.content h1 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
	.content h1 {
		color: #fff;
		font-size: 8em;
		position: absolute;
		transform: translate(-50%, -50%);
	}
}

.content h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #009900;
}

.content h1:nth-child(2) {
	color: #009900;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


.content {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif; display: flex;
	min-height: 100vh;
	background: none;
	align-items: right;
	justify-content: right;
}

@media (max-width: 768px) {
	.content {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Poppins", sans-serif; display: flex;
		min-height: 100vh;
		background: none;
		align-items: right;
		justify-content: right;
	}
}


/* CSS styles for section 2 */
#section2 {
  width: 75%;
  color: black;
  padding: 5%;
}

/* CSS styles for section 3 */
#section3 {
  width: 75%;
  color: black;
  padding: 5%;
}

.header {
  width: 75%;
  float: center;
  height: 15%;
  top: 0;
  z-index: 999;  
}

.header h2 {
  color: #009900;
  font-size: x-large;
  position: relative;
  width: 75%;
  padding-bottom: 0%; 
}

#map {
	display: flex;
}

/* CSS styles for section 4 */
#section4 {
  width: 75%;
  color: white;
  padding: 5%;
}

a {
  	text-decoration: none;
  	position: relative;
  	width: 75%;
  	padding-bottom: 0%; 
}
p:not(:last-child) {
    margin-right: 10%;
	margin-left: 10%;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	color: #009900;
  	font-size: large;
  	height: 0%;
	width: 100%;
	background: #009900;
	background-image: initial;
	background-position-x: top;
	background-position-y: center;
	background-size: 100% 20%;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #009900;
  
}
